/*---------------------------------------------------------Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Quicksand:wght@300;500;700&display=swap');

/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Quicksand', sans-serif; */

/*---------------------------------------------------------Include element's padding in sum of width and height*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*---------------------------------------------------------Title*/
.title-holder {
    height: 60vh;
}

.main-heading {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 3rem;
}