/*---------------------------------------------------------Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Quicksand:wght@300;500;700&display=swap');

/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Quicksand', sans-serif; */

/*---------------------------------------------------------Include element's padding in sum of width and height*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*---------------------------------------------------------General styling*/
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ce998c;
}

ul,
li {
    list-style-type: none;
}

.pink-bg {
 background-color: #e62e73;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif; 
}

/*-------------------------------------------------------------------------------------Navbar*/
.logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.625rem;
    font-weight: 700;
    padding: 0;
}

.navbar .logo,
.navbar .navbar-toggler-bars,
.navbar a {
    color: white;
}

.navbar .logo:hover,
.navbar .navbar-toggler-bars:hover,
.navbar a:hover {
    color: #ce998c;
}



.navbar-toggler-bars {
    font-size: 1.6rem;
}

.navbar-toggler {
    border: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.book-button {
    color: white;
    font-weight: 700;
}

.navbar-background {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
}

.navbar-nav .active {
    color: #ce998c;
}

/*-------------------------------------------------------------------------------------Main*/

/*---------------------------------------------------------Hero*/

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
}

.hero-title-wrapper {
    position: relative;
    min-width: 100%;
}

.hero-title-1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: .25rem;
    color: white;
    position: relative;
    z-index: 99;
    /* background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 3em; */
}

.hero-title-2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    color: #ce998c;
    position: absolute;
    top: 2.7rem;
    margin: 0 auto;
}


.hero .book-button,
.booking-form .book-button,
#navbarContent .btn {
    background-color: #ce998c;
    border-color: #ce998c;  
    color: white;
    font-weight: 700;
}



/*---------------------------------------------------------Our space*/
.our-space {
    max-width: 43.75rem;
}

.our-space-img {
    width: 20rem;
}

.about-button {
    width: 10em;
}

.about-button a {
    color: white;
}

.carousel {
    width: 90%;
    max-width: 64.375rem;
}
/*---------------------------------------------------------Specials*/
.specials-title {
    margin-bottom: 2.5rem;
}

.specials-background {
    min-height: 80rem;
    background-color: black;
    position: relative;
    border-radius: 2rem 2rem 0 0;
}

.specials {
    position: absolute;
    top: -1rem;
    max-width: 45rem;
}

.specials-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    text-align: center;
    /* min-height: 13.4375rem; */
    max-width: 26rem;
    padding: 1.5rem 1rem;
}

.specials-img {
    max-width: 26rem;
}

.specials-dimensions {
    width: 312px;
    height: 208px;
}

/*---------------------------------------------------------Menu*/
.card {
    min-width: 21rem;
}

/*---------------------------------------------------------Reserve*/
.form-section {
    min-height: 50vh;
}

.img-title-wrapper {
    position: relative;
    width: 100%;
    height: 15vh;
}

.reserve-title {
    position: absolute;
    top: 4rem;
    color: white;
    left: 9%;
}

.reservation-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/tortellini-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 300px;
    max-width: 64.375rem;
}

.booking-form {
    width: 100%;
}

/*---------------------------------------------------------Event*/
.events-bg {
    background-color: black;
    padding-bottom: 4rem;
    border-radius: 0 0 2rem 2rem;
}

.events-bg h2 {
    color: white;
    padding: 2rem 0;
}

.event-card {
    width: 13.4375rem;
}

/*-------------------------------------------------------------------------------------Footer*/
.footer-text {
    font-size: .8rem;
    font-weight: 300;
}
.footer-bold {
    font-weight: 500;
}

footer h6 {
    font-weight: 700;
    margin-bottom: .5rem;
}

.footer-logo-container {
    padding-left: 0;
    padding-right: 0;
}

.contact-footer {
    padding-left: 0;
}

.footer-subscribe-btn {
    padding-right: 0;
}

.subscribe-button {
    font-weight: 700;
}

/*-------------------------------------------------------------------------------------Media Queries*/
@media (min-width: 768px) {
    .specials-background {
        min-height: 40rem;
        background-color: black;
        position: relative;
        border-radius: 2rem 2rem 0 0;
    }

}